//variables
$header_color: #58779f;
$text_color: #ffffff;
$second_header_color: #819ec8;

$margin_right_text: 16px;
$margin_right_img: 5px;
//variables
body {
  font-family: "Montserrat", sans-serif;
  color: $text_color;
  text-align: center;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//modifications
.display_flex_row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box_shadow {
  //box-shadow: 2px 2px 5px #556985;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}
//modifications

.conteiner {
    position: relative;
}

.header {
  width: 100vw;
  height: 170px;
  font-size: 22px;
  background-color: $header_color;
}

.location {
  width: max-content;
  height: 30px;
  padding-top: 40px;
  img {
    margin-right: $margin_right_img;
  }
}

.navigation {
  width: max-content;
  height: 30px;
  padding-top: 20px;
  span {
    margin-right: $margin_right_text;
    cursor: pointer;
  }
}

.catalog_frame {
  width: 100vw;
  height: 100px;
  position: sticky;
  top: -1px;
  font-size: 25px;
  background-color: $second_header_color;
}

.cotalog_btn {
  width: 170px;
  height: 46px;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #3a5784;
  background-color: #ffffff;
  border: 0px;
  cursor: pointer;
}

.sort {
  span {
    margin-right: $margin_right_text;
  }
}

.icons {
  height: 30px;
  img {
    margin-right: $margin_right_img;
  }
}

.slider {
  width: 100%;
  height: 460px;
  overflow: hidden;
}

.slider_wrapper {
  width: max-content;
  height: 100%;
  background-color: #506C8E;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 1s;
  img {
    width: 600px;
    height: 400px;
    border-radius: 5px;
    margin-left: $margin_right_text;
    cursor: pointer;
  }
}
